.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity*/
    margin-top: 5rem;
    box-sizing: border-box;
  }
  
  /* Modal Content */
.modal-header{
  font-size: 1.5rem;
}

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    margin-top: 9rem;
  }
  
  /* The Close Button */
  .close {
    color: black;
    float: right;
    font-size: 4rem;
    font-weight: bold;
    }
    
  .close:hover,
  .close:focus {
    color: #000;
    background-color: #5ca1e1;
    text-decoration: none;
    cursor: pointer;
  }

  .button {
    border-radius: 0.50rem;
    background-color: #5ca1e1;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    transition: all 0.5s;
    padding: 0.8rem;
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  
  .button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button:after {
    content: '»';
    position: absolute;
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover{
    padding-right: 24px;
    padding-left:8px;
    padding-bottom: 10px;
  }
  
  .button:hover:after {
    right: 10px;
  }